---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const integrantes = await getCollection("integrantes");
  return integrantes.map((integrante) => ({
    params: { id: integrante.slug },
    props: { integrante },
  }));
}
const { integrante } = Astro.props;
const { name, time, role, photo } = integrante.data;
const { Content } = await render(integrante);
---

<Layout title={`${name}`}>
  <main>
    <section>
      <div
        class="grid md:grid-cols-2 gap-10 items-center mb-6 min-h-screen pt-6"
      >
        <Image
          src={photo}
          alt={name}
          transition:name={`photo-${integrante.slug}`}
          class="self-start rounded-xl shadow-xl object-cover w-[25rem] m-auto md:m-0 md:w-[30em] h-auto aspect-square object-top drop-shadow-xl bg-white"
        />
        <div class="self-start">
          <h1 class="font-bold text-center md:text-left">{name}</h1>
          <h2 class="text-gray-600 italic mb-2 text-center md:text-left">
            {role}
          </h2>
          <p class="text-center md:text-left">{time}</p><br />
          <div class="text-gray-700 grid gap-5 w-full">
            <Content />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
